<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="62ae3e76-5a3a-4f71-b8e7-14ca4b5ec17b" name="DOG Breeds" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="IncludeOverview">true</con:setting><con:setting id="IncludeResults">true</con:setting><con:setting id="FlowLayout">true</con:setting><con:setting id="ErrorDetails">true</con:setting><con:setting id="IncludeCoverage">true</con:setting><con:setting id="62ae3e76-5a3a-4f71-b8e7-14ca4b5ec17bfileName">DOG-Breeds</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>