<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="98f2f3ed-7a6c-43f7-ada7-ffc35b734495" wadlVersion="http://wadl.dev.java.net/2009/02" name="https://dog.ceo 1" type="rest" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><con:settings><con:setting id="98f2f3ed-7a6c-43f7-ada7-ffc35b734495fileName">https%3A%2F%2Fdog.ceo-1</con:setting></con:settings><con:definitionCache/><con:endpoints><con:endpoint>https://dog.ceo</con:endpoint></con:endpoints></con:interface>